


.copyright {
	color:$bordergrey;
	width:100%;
	font-size:12px;
	margin-top:6px;
	margin-top:0px;
	padding:40px 0px 20px;
	.inner_copyright {
		border-top:1px solid $bordergrey;
		overflow: hidden;
		span {
			display: inline-block;
			padding-top:10px;
			padding-left:15px;
		}
		ul {
			list-style: none;
			display: inline-block;
			float:right;
			li {
				display: inline-block;
				margin-left:13px;
				margin-right:-1px;
				a {
					
					text-decoration: none;
					display: inline-block;
					background:$bordergrey;
					padding:8px;
					color:$darkgrey;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}





@media screen and (max-width: 800px) {
	

	
	

/*
	.copyright {
		width:100%;
		background: $darkgrey;
		padding:40px 15px 20px;
		margin-top:0;
		.inner_copyright {
			border-top:1px solid $bordergrey;
			overflow: hidden;
			span {
				padding-top:10px;
				padding-left:15px;
			}
			ul {
				float:right;
				li {
					a {
						display: inline-block;
						background:$bordergrey;
						padding:8px;
						color:$darkgrey;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
*/


} /* Media Query */



@media screen and (max-width: 435px) {
	
	
	.copyright {
		position: relative;
		.inner_copyright {
			
			span {
				position: absolute;
				top:-30px;
				left:0;
			}
			ul {
				
				li {
					a {
						
						&:hover {
							
						}
					}
				}
			}
		}
	}
	
	
	
} /* Media Query */


