.sidebar {
	h1.location {
		font-family:$coresansbold;
    color: #FFE000;
    text-transform: lowercase;
    font-size: 18px;
    text-align: left;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 5px;
    line-height: 20px;
	}
}