.sidebar {
	text-align: left;
	h1.location {
		font-family:$coresansbold;
    color: #FFE000;
    text-transform: lowercase;
    font-size: 19px;
		font-style: normal;
    font-weight: 300;
    margin-bottom: 5px;
    line-height: 20px;
    padding-top:5px;
	}
}


.location_menu {
	.location_menu_title {
		display: none;
	}
	ul {
		list-style: none;
		&:before {
			content:"";
			display: block;
			color:#fff;
			font-family: $akzcondensed;
			text-transform: uppercase;
			font-size: 24px;
			letter-spacing: 1.5px;
			display: block;
			margin: 25px 0 10px;
		}
		li {
			font-family: $coresansbold;
			font-size: 18px;
			text-transform: lowercase;
			margin-bottom:3px;
			a {
				color: $yellow;
				text-decoration: none;
				transition: all .2s ease-in-out;
				&:hover {
					color:#fff;
				}
			}
		}
	}
	ul {
		&:first-of-type {
			&:before {
				content:"Home";
			}
		}
	}
	ul {
		&:nth-of-type(2) {
			&:before {
				content:"Classes";
			}
		}
	}
	ul {
		&:last-of-type {
			&:before {
				content:"Our Studio";
			}
		}
	}
}


.sidebar_social {
	margin-top:30px;
	img {
		height:21px;
	}
}


.store_hours {
	color:#fff;
	span.hours_title {
		display: block;
		color:#fff;
		font-family: $akzcondensed;
		text-transform: uppercase;
		font-size: 24px;
		letter-spacing: 1.5px;
		display: block;
		margin: 25px 0 10px;
	}
	span.days, span.hours {
		line-height: 20px;
		display: block;
	}
	span.days {
		font-weight: 600;
	}
	span.hours {
		margin-bottom:10px;
	}
}


.sidebar {
	.address {
		margin-top:20px;
		font-size:14px;
		line-height: 16px;
		a {
			color:#fff;
			text-decoration: none;
			display: block;
			margin-bottom:10px;
		}
	}
	
}



.newsletter_signup {
	ul {
		list-style: none;
		li#field_1_2 {
			display: none;
		}
		li {
			position: relative;
			label {
				display: none;
			}
			input[type="text"] {
				background: $bordergrey;
				border:none;
				width:100%;
				color:$darkgrey;
				font-size: 15px;
				text-transform: lowercase;
				padding:5px 12px;
				border-radius: 0;
			}
		}
		
		.gfield_description, .validation_message {
			font-size: 11px;
			margin-top:4px;
			color:$yellow;
}
	}
	.validation_error {
		display: none;
	}
	input[type="submit"] {
		background: $bordergrey;
		border:none;
		font-size:15;
		padding:6px 10px;
		text-transform: lowercase;
		color:$darkgrey;
		margin-top:10px;
		cursor: pointer;
	}
}


.inner_banner.inner_home_mobile {
	display: none;
}

.yellow_home_buttons {
	display: none;
}


@media screen and (max-width: 800px) {
	
	
	.inner_banner.inner_home_desktop {
		display: none;
	}
	
	
	
	.inner_banner.inner_home_mobile {
		display: block;
	}
	
	.sidebar {
		h1.location {
			font-size:20px;
		}
	}
	
	
	.sidebar {
		text-align: center;
		display: flex;
		flex-direction: column;
		h1.location {
			order:1;
		}
		.address {
			order:2;
		}
		.sidebar_social {
			order:3;
		}
		.location_menu {
			order:5;
		}
		
		.store_hours {
			display: none;
		}
		
		.newsletter_signup {
			order:4;
		}
	}
	
	
	.sidebar {
		.address {
			max-width:220px;
			margin-left:auto;
			margin-right:auto;
			margin-top:7px;
		}
	}
	
	.sidebar_social {
		margin-top:5px;
		img {
			height:24px;
		}
	}
	
	
	
.location_menu {
	background: #fff;
	max-width: 325px;
	width:93%;
	border:2px solid #999;
	margin:0 auto 20px;
	span.location_menu_title {
		display: inline-block;
		font-family:$akzcondensed;
		text-transform: uppercase;
		font-size:22px;
		color:#999999;
		padding:8px 8px 6px;
		width:100%;
		cursor: pointer;
		&:after {
			content:"";
			display: inline-block;
			width: 0; 
			height: 0; 
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid #999999;
			position: relative;
			top:-3px;
			left:9px;
		}
	}
	.location_menu_dropdown {
		display: none;
		.location_menu_flex_fix {
			display: flex;
			flex-direction: column;
			ul {
				&:before {
					display: none;
				}
				li {
					font-family: $coresanslight;
					border-bottom:2px solid #999;
					line-height: 1;
					margin-bottom: 0;
					a {
						color:$darkgrey;
						display: block;
						padding:15px 5px;
						&:hover {
							color:$darkgrey;
						}
					}
				}
			}
			ul {
				&:first-of-type {
					order:3;
					li {
						&:last-of-type {
							border:none;
						}
					}
				}
			}
			ul {
				&:nth-of-type(2) {
					order:1;
				}
			}
			ul {
				&:last-of-type {
					order:2;
				}
			}
		}
	}
}

	
.newsletter_signup {
	max-width: 325px;
	width:93%;
	margin: 16px auto 20px;
	&:before {
		content:"Subscribe:";
		display:block;
		text-align: center;
		margin-bottom:6px;
		font-size:15px;
		color:#999;
	}
	ul {
		
		li#field_1_2 {
			
		}
		li {
			width:calc(100% - 102px);
			float:left;
			label {
				
			}
			input[type="text"] {
				height:30px;
				width:100%;
			}
		}
		
		.gfield_description, .validation_message {
			
		}
	}
	.validation_error {
		
	}
	.gform_footer {
		width:100px;
		float:right;
		input[type="submit"] {
			width:100%;
			margin-top:0;
			height:30px;
		}
	}
}


.yellow_home_buttons {
	display: block;
	order:6;
	max-width: 325px;
	width:93%;
	margin: 0px auto 20px;
	a {
		display: block;
		background: $yellow;
		color:$darkgrey;
		margin-bottom:10px;
		font-family: $coresansbold;
		text-decoration: none;
		padding:8px;
		text-transform: lowercase;
	}
}

	
	
	
	
} /* Media Query */


