.sidebar {
	text-align: left;
	h1.location {
		font-family:$coresansbold;
    color: #FFE000;
    text-transform: lowercase;
    font-size: 19px;
		font-style: normal;
    font-weight: 300;
    margin-bottom: 5px;
    line-height: 20px;
    padding-top:5px;
	}
}


.location_menu {
	
	ul {
		&:before {
			content:"";
			display: block;
			color:#fff;
			font-family: $akzcondensed;
			text-transform: uppercase;
			font-size: 24px;
			letter-spacing: 1.5px;
			display: block;
			margin: 25px 0 10px;
		}
		li {
			font-family: $coresansbold;
			font-size: 18px;
			text-transform: lowercase;
			margin-bottom:3px;
			a {
				color: $yellow;
				text-decoration: none;
				transition: all .2s ease-in-out;
				&:hover {
					color:#fff;
				}
			}
		}
	}
	ul {
		&:first-of-type {
			&:before {
				content:"Home";
			}
		}
	}
	ul {
		&:nth-of-type(2) {
			&:before {
				content:"Classes";
			}
		}
	}
	ul {
		&:last-of-type {
			&:before {
				content:"Our Studio";
			}
		}
	}
}


.sidebar_social {
	margin-top:30px;
	img {
		height:21px;
	}
}


.store_hours {
	color:#fff;
	
	span.hours_title {
		display: block;
		color:#fff;
		font-family: $akzcondensed;
		text-transform: uppercase;
		font-size: 24px;
		letter-spacing: 1.5px;
		display: block;
		margin: 25px 0 10px;
	}
	span.days, span.hours {
		line-height: 20px;
		display: block;
	}
	span.days {
		font-weight: 600;
	}
	span.hours {
		margin-bottom:10px;
	}
}


.sidebar {
	.address {
		margin-top:20px;
		font-size:14px;
		line-height: 16px;
		a {
			color:#fff;
			text-decoration: none;
			display: block;
			margin-bottom:10px;
		}
	}
	
}



