.pricing_wrapper {
	margin:80px 0 0 0;
}


.box_wrapper {
	border:2px solid $yellow;
	margin-bottom:45px;
	position: relative;
	max-width:800px;
	a.buy_now {
		position: absolute;
		bottom:-15px;
		right:30px;
		display: block;
		background: $yellow;
		color:$darkgrey;
		text-transform: uppercase;
		font-family: $coresansbold;
		text-transform: lowercase;
		font-size: 19px;
		padding:5px 10px;
		transition: all .2s ease-in-out;
		&:hover {
			text-decoration: none;
			background: #000;
			color:#fff;
		}
	}
}

.box_title_wrapper {
	background: $yellow;
	color:$darkgrey;
	font-size: 40px;
	text-transform: lowercase;
	padding:20px;
	font-family:$inoutitalic;
}

.box_description_wrapper {
	padding:20px;
	max-width:750px;
	.box_description_inner_wrapper {
		
	}
}

.box_single_description {
	span.box_single_title {
		display: block;
		padding-bottom:10px;
		margin-bottom:10px;
		text-transform: uppercase;
		border-bottom:1px solid #fff;
		font-size:20px;
	}
	span.single_line_ast {
		font-size:14px;
		font-style: italic;
		display: block;
		margin-top:10px;
	}
}


.box_single_content {
	text-transform: lowercase;
	margin-bottom:15px;
	
	&:last-of-type {
		margin-bottom:0;
	}
	.single_line_wrapper {
		position: relative;
		overflow: hidden;
		&:before {
content:"...............................................................................................................................................................................";
			color:#fff;
			position: absolute;
			bottom:0;
			left:0;
		}
		span {
			position: relative;
			z-index:5;
		}
		span.single_line_left {
			float:left;
			background: #444;
			padding-right:8px;
		}
		span.single_line_right {
			float:right;
			background: #444;
			padding-left:8px;
		}
		
	}
	span.single_line {
		display: block;
	}
	
}






.reg_price_wrapper {
	max-width:700px;
	margin-bottom:40px;
	margin-left:25px;
	span.reg_price_title {
		color:$yellow;
		font-family: $coresansbold;
		text-transform: lowercase;
		border-bottom:1px solid #fff;
		padding-bottom:5px;
		display: block;
		margin-bottom: 5px;
		font-size:17px;
	}
	span.single_line {
		margin-top:10px;
		display: block;
	}
	span.reg_ast {
		font-size:14px;
		font-style: italic;
		display: block;
		margin-top:10px;
	}
}




.reg_single_line_wrapper {
	overflow: hidden;
	position: relative;
	&:before {
content:"...............................................................................................................................................................................";
		color:#fff;
		position: absolute;
		bottom:0;
		left:0;
	}
	span {
		background:#444;
		position: relative;
		z-index: 5;
		margin-top:10px;
	}
	span.single_line_left {
		float:left;
		padding-right:8px;
	}
	span.single_line_right {
		float:right;
		padding-left:8px;
	}
}


.shop_all_wrapper {
	text-align: center;
	padding-left:25px;
	max-width:700px;
	margin-top:60px;
	
	a.shop_all {
		background: $yellow;
		display: inline-block;
		color:$darkgrey;
		font-family: $coresansbold;
		text-transform: lowercase;
		font-size: 19px;
		padding:5px 10px;
		transition: all .2s ease-in-out;
		margin:0 auto 10px;
		&:hover {
			background: #000;
			color:#fff;
			text-decoration: none;
		}
	}

}



@media screen and (max-width: 1020px) {
	
	
	
	.reg_price_wrapper {
		width:100%;
		margin-left:auto;
		margin-right:auto;
	}
	
	
	
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 800px) {
	
	
	.pricing_wrapper {
		margin-top:40px;
	}
	
	.shop_all_wrapper {
		padding-left:0;
		margin-top:40px;
	}
	
	
.box_single_content {
	
	.single_line_wrapper {
		
		
		
		span.single_line_left {
			
			background: #4d4d4f;
			
		}
		span.single_line_right {
			
			background: #4d4d4f;
			
		}
		
	}
		
}
	
	
	
.reg_single_line_wrapper {
	
	
	span {
		background:#4d4d4f;
		
	}
	span.single_line_left {
		
	}
	span.single_line_right {
		
	}
}
	
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 440px) {
	
	
	
	.shop_all_wrapper {
	
	
	a.shop_all {
		
	width:250px;
	}

}

	
	
	
	
} /* Media Query */