// Alot of styles for this template are coming from the _page-maven.scss partial from the "stuiobarrcorporate" since the styles are similar, other styles in file are minor overrides


body.page-template-page-thankyou {

nav ul#menu-top-nav>li:hover:after {
	display: none;
}

}



.content_wrapper {
	padding-top:0;
}


body.page-template-page-franchising nav, body.page-template-page-thankyou nav {
	max-width: 550px;
}

.nav_wrapper.franchise {
	margin-top: 41px;
	.tagline {
		padding-bottom:0;
	}
}

nav {
	ul {
		li#menu-item-16 {
			display: none;
		}
	}
}


.franchise_tagline {
	font-family:$inoutitalic;
	color:$yellow;
	font-size:115px;
	text-transform: capitalize;
}

.franchise_section {
	margin-bottom:65px;	
}


.franchise_section:last-of-type {
		margin-bottom: 0;
	}

h1.franchise_title, body.page-template-page-franchising .content h2, body.page-template-page-thankyou .content h2 {
	font-family: $akzcondensed;
	font-size:33px;
	margin-top:15px;
	padding-bottom:9px;
	text-transform: uppercase;
	span {
		font-family:$akzlightcondensed;
	}
}


.button_wrapper {
	font-size:18px;
	margin-top:40px;
	a {
		transition: all .2s ease-in-out;
		&:hover {
		color:#fff;
		text-decoration: none;
	}
}
	
}


.top_buttons {
	display: none;
}


.slide_text_wrapper {
	h3 {
		cursor: pointer;
		font-family: $coresanslight;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		color:$yellow;
		margin-bottom: 8px;
		text-transform: lowercase;
		&:hover {
			color:#fff;
		}
		&:after {
			content:"+";
			display: inline-block;
			margin-left:5px;
		}
	}
	h3.open:after {
		content:"-";
	}
}

.single_slide_text {
	display: none;
}

.get_started {
	display: inline;
}

a.get_started_content {
	color:#fff;
	&:hover {
		text-decoration: none;
	}
}



.copyright {
	color:$bordergrey;
	width:100%;
	font-size:12px;
	margin-top:6px;
	margin-top:0px;
	padding:40px 0px 20px;
	.inner_copyright {
		border-top:1px solid $bordergrey;
		overflow: hidden;
		span {
			display: inline-block;
			padding-top:10px;
			padding-left:15px;
			
			
	
		}
		ul {
			list-style: none;
			display: inline-block;
			float:right;
			li {
				display: inline-block;
				margin-left:13px;
				margin-right:-1px;
				a {
					
					text-decoration: none;
					display: inline-block;
					background:$bordergrey;
					padding:8px;
					color:$darkgrey;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}





@media screen and (max-width: 800px) {
	
	
	body.page-template-page-franchising nav, body.page-template-page-thankyou nav {
		max-width: 100%;
	}
	
	
	
	header.franchise {
		transition: all .2s ease-in-out;
		nav {
			background: #fff;
			ul {
				li {
					a {
						color:$darkgrey;
					}
				}
			}
		}
		nav ul#menu-top-nav>li.current_page_item>a {
			color:$darkgrey;
		}
	}
	
	header.franchise.white {
		background:#fff;
		
	}
	
	
	
	
.top_buttons {
	display: inline-block;
	color: #fff !important;
}


	
body.page-template-page-franchising {
	header {
		margin-bottom: 0;
	}
	
}

.franchise_header_wrapper {
	text-align: center;
}


/*
h1.franchise_title {
	padding: 0px 10px 20px;
  font-size: 20px;
  margin-top:0;
  text-align: center;
  font-family: $coresanslight;
  color:#fff;
  display: inline-block;
	span {
		font-family: $coresanslight;
		
	}
}
*/


h1.franchise_title, body.page-template-page-franchising .content h2, body.page-template-page-thankyou .content h2 {
	font-size:28px;
	text-align: left;
	span {
		
	}
}




a.get_started_content {
	color:$yellow;
	text-transform: uppercase;
	text-decoration: underline;
	font-size:15px;
	cursor: pointer;
	&:hover {
		text-decoration: none;
	}
}


.sidebar.franchising {
	h1 {
		// display: none;
		
	}
}


.button_wrapper {
	font-size:18px;
	margin-top:40px;
	text-align: center;
	a {
		transition: all .2s ease-in-out;
		&:hover {
		color:#fff;
		text-decoration: none;
	}
}
	
}



.nav_wrapper.franchise {
    margin-top: 0px;
}


nav {
	ul {
		li#menu-item-16 {
			display: block;
		}
	}
}

body.page-template-page-franchising {
	.copyright {
		padding-bottom: 50px;
	}
}





.copyright {
	
	.inner_copyright {
		
		padding-bottom:40px;
	}

}



	
	
} /* Media Query */







@media screen and (max-width: 435px) {
	
	
	.copyright {
		position: relative;
		.inner_copyright {
			
			span {
				position: absolute;
				top:9px;
				left:0;
			}
			ul {
				
				li {
					a {
						
						&:hover {
							
						}
					}
				}
			}
		}
	}
	
	
	
} /* Media Query */


