footer {
	border-top:1px solid $bordergrey;
	border-bottom:1px solid $bordergrey;
	font-family: $coresanslight;
	color:$bordergrey;
	width:100%;
	overflow: hidden;
	margin-top:30px;
}


.social_media_wrapper {
	float:left;
	border-right:1px solid $bordergrey;
	padding:13px 20px;
	width:305px;
	span.find_us {
		display: inline-block;
		vertical-align: top;
		margin-top:6px;
		margin-right:8px;
	}
	a.email_link.mobile {
		display: none;
	}
	a {
		display: inline-block;
		vertical-align: top;
		margin:0 3px;
		img {
			display: block;
			vertical-align: top;
		}
	}
}

.newsletter {
	float:right;
	width:calc(100% - 305px);
	padding:5px 10px 0px 30px;
	
	img.email {
		float: left;
		width:47px;
		padding-top:5px;
	}
}

.newsletter_form_wrapper {
	float:left;
	width:calc(100% - 47px);
	padding:5px 8% 0;
	display: flex;
	
	span.brackets, span.subscribe, .newsletter_form {
/*
		display: inline-block;
		vertical-align: top;
*/
	}
	span.brackets {
		font-size: 32px;
	}
	span.subscribe {
		
		padding: 8px 13px 0 25px;
		
		
	}
	.newsletter_form {
		flex:1;
		padding-right:32px;
		padding-top:3px;
		ul {
			list-style: none;
			li#field_1_2 {
				display: none;
			}
			li {
				position: relative;
				label {
					display: none;
				}
				input[type="text"] {
					background: $bordergrey;
					border:none;
					width:100%;
					color:$darkgrey;
					font-size: 15px;
					text-transform: lowercase;
					padding:5px 12px;
					border-radius: 0;
				}
				
			}
			.gfield_description, .validation_message {
				font-size: 11px;
				position: absolute;
				top:29px;
				left:0;
				color:$yellow;
			}
		}
		.gform_footer {
				
			input[type="submit"] {
				background: $bordergrey;
				border:none;
				width:100%;
				color:$darkgrey;
				padding:5px 8px;
				font-size: 15px;
				cursor: pointer;
				text-transform: lowercase;
				-webkit-appearance: none;
				border-radius: 0;
			}
		}
	}
}


#gform_1 {
	display: flex;
	.gform_body, .gform_footer {

	}
	.gform_body {
		flex:1;
	}
	.gform_footer {
		width:70px;
		margin-left:10px;
	}
}


.validation_error {
	display: none;
}


.copyright {
	color:$bordergrey;
	font-size:12px;
	margin-top:6px;
	margin-top:10px;
	span {
		display: inline-block;
	}
	ul {
		list-style: none;
		display: inline-block;
		li {
			display: inline-block;
			margin-left:13px;
			a {
				color:$bordergrey;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}



@media screen and (max-width: 930px) {
	
	.newsletter {
    padding: 5px 10px 0 16px;
   }
	
	
	.newsletter_form_wrapper {
    padding: 5px 2% 0;
		span.subscribe {
			padding-left:12px;
		}
    .newsletter_form {
	    padding-right: 12px;
    }
   }
	
	
} /* Media Query */


@media screen and (max-width: 800px) {
	
/*
	footer {
		width:97%;
		margin:12px auto 0;
		padding-bottom:25px;
	}
*/
	
		
	

	
	footer {
		border:none;
		padding-left:15px;
		padding-right:15px;
		width:100%;
		padding-top:40px;
		margin-top:0;
		background: $darkgrey;
	}
	
	.social_media_wrapper {
		float:none;
		width:100%;
		border-right:none;
		padding:0;
		a.email_link.mobile {
			display: inline-block;
			img {
				width:44px;
			}
		}
		span.find_us {
			display: block;
			color:$yellow;
			font-family: "CoreSansG65Bold";
			font-size: 16px;
			font-style: normal;
			font-weight: 300;
			margin-top:0;
			margin-bottom:15px;
		}
	}
	
	.newsletter {
		width:100%;
		float:none;
		padding:0;
		a.email_link {
			display: none;
		}
	}
	
	.newsletter_form_wrapper  {
		padding:0;
		display: block;
		float:none;
		width:100%;
		span.brackets {
			display: none;
		}
		span.subscribe {
			padding:0;
			display: block;
			color:$yellow;
			font-family: "CoreSansG65Bold";
			font-size: 16px;
			font-style: normal;
			font-weight: 300;
			margin:40px 0 15px;
		}
		.newsletter_form {
			max-width:400px;
		}
	}
	
	
	
	.newsletter_form_wrapper .newsletter_form ul .gfield_description, .newsletter_form_wrapper .newsletter_form ul .validation_message {
		top:35px;
	}
	
	.copyright {
		width:100%;
		background: $darkgrey;
		padding:40px 15px 20px;
		margin-top:0;
		.inner_copyright {
			border-top:1px solid $bordergrey;
			overflow: hidden;
			span {
				padding-top:10px;
				padding-left:15px;
			}
			ul {
				float:right;
				li {
					a {
						display: inline-block;
						background:$bordergrey;
						padding:8px;
						color:$darkgrey;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}





.newsletter_form_wrapper .newsletter_form ul .gfield_description, .newsletter_form_wrapper .newsletter_form ul .validation_message {
	top:-13px;
}




	
	
} /* Media Query */



@media screen and (max-width: 435px) {
	
	
	.copyright {
		position: relative;
		.inner_copyright {
			
			span {
				position: absolute;
				top:-30px;
				left:0;
			}
			ul {
				
				li {
					a {
						
						&:hover {
							
						}
					}
				}
			}
		}
	}
	
	
	
} /* Media Query */


