footer {
	border-top:1px solid $bordergrey;
	border-bottom:1px solid $bordergrey;
	font-family: $coresanslight;
	color:$bordergrey;
	width:100%;
	overflow: hidden;
	margin-top:30px;
}


.social_media_wrapper {
	float:left;
	border-right:1px solid $bordergrey;
	padding:13px 20px;
	width:305px;
	span.find_us {
		display: inline-block;
		vertical-align: top;
		margin-top:6px;
		margin-right:8px;
	}
	a {
		display: inline-block;
		vertical-align: top;
		margin:0 3px;
		img {
			display: block;
			vertical-align: top;
		}
	}
}

.newsletter {
	float:right;
	width:calc(100% - 305px);
	padding:5px 10px 0px 30px;
	img.email {
		float: left;
		width:47px;
		padding-top:5px;
	}
}

.newsletter_form_wrapper {
	float:left;
	width:calc(100% - 47px);
	padding:5px 8% 0;
	display: flex;
	
	span.brackets, span.subscribe, .newsletter_form {
/*
		display: inline-block;
		vertical-align: top;
*/
	}
	span.brackets {
		font-size: 32px;
	}
	span.subscribe {
		
		padding: 8px 13px 0 25px;
		
		
	}
	.newsletter_form {
		flex:1;
		padding-right:32px;
		padding-top:3px;
		ul {
			list-style: none;
			li {
				position: relative;
				label {
					display: none;
				}
				input[type="text"] {
					background: $bordergrey;
					border:none;
					width:100%;
					color:$darkgrey;
					font-size: 15px;
					text-transform: lowercase;
					padding:5px 12px;
					
				}
				
			}
			.gfield_description, .validation_message {
				font-size: 11px;
				position: absolute;
				top:28px;
				left:0;
			}
		}
		.gform_footer {
				
			input[type="submit"] {
				background: $bordergrey;
				border:none;
				width:100%;
				color:$darkgrey;
				padding:5px 8px;
				font-size: 15px;
				cursor: pointer;
				text-transform: lowercase;
			}
		}
	}
}


#gform_1 {
	display: flex;
	.gform_body, .gform_footer {

	}
	.gform_body {
		flex:1;
	}
	.gform_footer {
		width:70px;
		margin-left:10px;
	}
}


.validation_error {
	display: none;
}


.copyright {
	color:$bordergrey;
	font-size:12px;
	margin-top:6px;
}


