body {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-shadow: 1px 1px 1px rgba(0,0,0,0.05);
background: $darkgrey;
font-size:16px;
}


body img.gform_ajax_spinner {
   display: none!important;
}


header, section, nav, footer {
	display: block;
}

.wrapper {
	width:100%;
	max-width: 1160px;
	margin:0 auto 65px;
	padding:0 30px;
}
