body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.05);
	background: #444;
	font-size:16px;
	font-family: $coresanslight;
	line-height: 1;
}


body img.gform_ajax_spinner {
   display: none!important;
}


header, section, nav, footer {
	display: block;
}

.wrapper {
	width:100%;
	max-width: 1160px;
	margin:0 auto 65px;
	padding:0 30px;
}

.content_wrapper {
	padding-top:20px;
}


.content {
	color:#fff;
	line-height: 20px;
	font-size: 16px;
	
	h1, h2 {
		font-family: $coresansbold;
		color:$yellow;
		text-transform: lowercase;
		font-size:20px;
		font-style: normal;
		font-weight: 300;
		margin-bottom:5px;
		a {
			transition: all .2s ease-in-out;
			&:hover {
				color:#fff;
				text-decoration: none;
			}
		}
	}
	
	h1.header_script {
		font-family: $asnapperscript;
		color:$yellow;
		text-transform: capitalize;
		// text-transform: none;
		font-size:42px;
		font-style: normal;
		font-weight: 300;
		padding-top:14px;
		 line-height: 50px;
		 
	}
	h2.white, .white {
		text-transform: uppercase;
		font-family: $akzcondensed;
		color:#fff;
		font-size:30px;
		margin-bottom: 30px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	h2.white.center {
		text-align: center;
	}
	
	h2.yellow {
		text-transform: uppercase;
		font-family: $akzcondensed;
		color:$yellow;
		font-size:30px;
		margin-bottom: 30px;
		line-height: 30px;
		margin-bottom: 20px;
	}

	
	p,ul, ol {
		margin-bottom:20px;
		text-transform: lowercase;
	}
	p {
		&:last-of-type {
			// margin-bottom: 0;
		}
	}
	ul, ol {
		margin-left:24px;
		li {
			margin-bottom:10px;
		}
	}
	a {
		color:$yellow;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}	
	img {
		max-width: 100%;
		height:auto;
	}
}

iframe {
	
}

.embed-container { 
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	margin:20px 0;
	
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}

.gform_wrapper {
	input,textarea {
		border-radius: 0;
	}
	input[type="submit"] {
		-webkit-appearance: none;
	}
}



@media screen and (max-width: 800px) {
	
	.wrapper {
		padding:0 0 0px 0;
		margin-bottom:0px;
	}
	
	.content {
		font-size:15px;
		h1 {
			font-size:20px;
		}
		h1.header_script {
			background: #4d4d4f;
			font-size:44px;
			
		}
		h1.header_script.center {
			text-align: center;
		}
		h2.white {
			font-size:26px;
			line-height: 29px;
		}
	}
	
} /* Media Query */



// Global Inner Templates


.inner_banner {
	margin-bottom:19px;
}

.inner_main {
	width:100%;
	overflow: hidden;
	padding-bottom:35px;
}


.sidebar.sidebar_blog {
	text-align: left;
}

.sidebar {
	width:159px;
	float:left;
	text-align: center;
	
	.contact_info {
		text-align: left;
		color:#fff;
		margin-top:20px;
		p {
			margin-bottom:15px;
			line-height: 20px;
		}
		a {
			color:#fff;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	h1 {
		font-family: $asnapperscript;
		color:$yellow;
		text-transform: capitalize;
		font-size:42px;
		font-style: normal;
		font-weight: 300;
		padding-top:14px;
		line-height: 45px;
		a {
			transition: all .2s ease-in-out;
			text-decoration: none;
			color:$yellow;
			&:hover {
				color:#fff;
			
			}
		}
	}
}

.inner_container {
	width:calc(100% - 160px);
	float:left;
	padding-left: 5%;
}


.inner_container.one_column {
	float:none;
	width:100%;
	padding-left:0;
}

.inner_banner {
	border: 8px solid #999;
	img {
		max-width: 100%;
		height:auto;
		display: block;
		
	}
}


@media screen and (max-width: 800px) {
	
	
	body:not(.page-template-page-home) {
		a.find_button {
			display: none;
		}
		nav {
			
		}
	}
	
	
	.inner_banner {
		border:none;
	}
	
	
	.inner_main {
		padding-bottom:23px;
		background: #4d4d4f;
	}
	
	
	.sidebar {
		width:100%;
		float:none;
		text-align: center;
		padding-right:0;
		
		h1 {
			padding:11px 10px 7px;
			line-height: 67px;
		}
	}
	
	.inner_container {
		width:100%;
		float:none;
		padding-left:0;
	}
	
	.content_wrapper {
		padding:15px;
	}
	
	
.alignleft,
img.alignleft {
	display: block;
	float: none;
	margin-right: auto;
	margin-left: auto;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: block;
	float: none;
	margin-right: auto;
	margin-left: auto;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
	
	
} /* Media Query */



