header {
	color:#fff;
	margin-bottom:30px;
}

.mobile_menu {
	display: none;
	.menu_bar {
			
	}
}


.logo_wrapper {
	float:left;
	width:160px;
	margin-top: 30px;
	img {
		max-width: 100%;
		height:auto;
	}
}


.header_right {
	float:right;
	width:calc(100% - 160px);
	position: relative;
}


a.find_button {
	background:$yellow;
	font-family: $coresansbold;
	text-transform: lowercase;
	color:$lightgrey;
	text-decoration: none;
	font-size:15px;
	padding:6px 10px;
	position: absolute;
	top:0;
	right:0;
}



.nav_wrapper {
	width:100%;
	margin-top: 83px;
	padding-left:5%;
	position: relative;
	z-index:20;
	
}

.tagline {
	font-family: $coresansextralight;
	text-transform: lowercase;
	border-bottom:1px solid $yellow;
	font-size: 41px;
	padding-bottom: 15px;
}

nav {
	margin-top:13px;
	ul#menu-top-nav {
		display: flex;
		justify-content: space-between;
		> li {
			padding-bottom:20px;
			
			&:after {
				content:"";
				transition: all .3s ease-in-out;
				padding-top:3px;
				opacity: 0;
				width:0;
			}
		}
		
		>li.current-menu-ancestor {
			&:after {
					content:"";
					display: block;
					border-bottom: 1px solid $yellow;
					width:100%;
					opacity: 1;
					margin-left:auto;
					margin-right:auto;
				}
		}
		>li.current_page_item  {
			&:after {
					content:"";
					display: block;
					border-bottom: 1px solid $yellow;
					width:100%;
					opacity: 1;
					margin-left:auto;
					margin-right:auto;
				}
				
		}
		> li.menu-item-has-children:hover {
			ul.sub-menu {
				opacity: 1;
				visibility: visible;
			}
		}
		> li:hover {
				&:after {
					content:"";
					display: block;
					border-bottom: 1px solid $yellow;
					width:100%;
					opacity: 1;
					margin-left:auto;
					margin-right:auto;
				}
			}
	}
	ul {
		list-style: none;
		margin:0;
		li {
			font-family: $coresanslight;
			text-transform: lowercase;
			font-size: 16px;
			letter-spacing: 0.7px;
			position: relative;
			a {
				color:#fff;
				text-decoration: none;
			}
			ul.sub-menu {
				background: #444;
				display: block;
				position: absolute;
				top:25px;
				left:-21px;
				width:205px;
				padding:15px 20px 10px;
				opacity: 0;
				visibility: hidden;
				transition: all .2s ease-in-out;
				 li.current_page_item {
					 a {
						 color:$yellow;
					 }
				 }
				 li {
					margin-bottom:14px;
					a {
						transition: all .2s ease-in-out;
					}
					a:hover {
						color:$yellow;
					}
				}
			}
		}
	}
	
}


@media screen and (max-width: 800px) {
	
	.wrapper {
// 		padding:0;
	}
	
	header {
		padding-top:10px;
		position: relative;
		background: $darkgrey;
	}
	
	.mobile_menu {
		display: block;
		position: absolute;
		top:40px;
		left:42px;
		width:25px;
		cursor: pointer;
		.menu_bar {
			width:100%;
			height:3px;
			margin-bottom: 4px;
			background:#4d4d4f;
			border-radius: 3px;
				transition: all .2s ease-in-out;
		}
	}
	
	
	.mobile_menu.open {
		.menu_bar {
		
			&:first-of-type {
				transform: rotate(45deg);
				transform-origin: 5px 3px 0;
				
			}
			&:nth-of-type(2) {
				opacity: 0;
			 
			}
			&:last-of-type {
				transform: rotate(-45deg);
				transform-origin: 2px 0 0;
				
			}
		}
	}
	
	
		
	
	
	.logo_wrapper {
		float:none;
		width:100%;
		text-align: center;
		margin-top:0;
		margin-left:auto;
		margin-right:auto;
		max-width: 90px;
	}
	.header_right {
		float:none;
		margin-top:10px;
		width:100%;
		background:#4d4d4f;
		overflow: hidden;
// 		padding:0 12px 6px 0
	}
	
	a.find_button {
		position: relative;
		float: right;
		z-index:50;
		transition: all .1s ease-in-out;
	}
	
	a.find_button.hide {
		
		z-index:0;
	}
	
	.nav_wrapper {
		margin-top:0;
		padding:0;
		// background:#4d4d4f;
	}
	
/*
	body:not(.page-template-page-home) {
		.nav_wrapper {
			background:transparent;
		}
	}
*/
	
	.tagline {
		display: none;
	}
	

	nav.open {
		max-height: 3000px;
		opacity: 1;
		visibility: visible;
		padding-bottom: 25px;
	}
	
nav {
	margin-top:0;
	background: $darkgrey;
// 	padding:0 42px 25px;
padding: 0 42px;
	max-height: 0;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease-in-out;
	
	ul#menu-top-nav {
		display: block;
		
		> li {
				padding:0;
				&:last-of-type {
				a {
					border:none;
				}
			}
			&:after {
				border:none;	
				padding:0;
			}
		}
		>li.current-menu-ancestor {
			&:after {
				border:none;
				padding:0;
				}
				> a {
					color:$yellow;
				}
		}
		>li.current_page_item  {
			&:after {
					border:none;
					padding:0;
				}
				> a {
					color:$yellow;
				}
				
		}
		> li.menu-item-has-children {
			> a {
				&:after {
					content:"+";
					position: absolute;
					top:13px;
					right:0;
					color:$yellow;
					font-size:19px;
					
				}
			}
		}
		> li.menu-item-has-children.open {
			> a {
				&:after {
					content:"-"
				}
			}
			ul.sub-menu {
				background: $darkgrey;
				overflow: hidden;
				opacity: 1;
				visibility: visible;
				max-height: 3000px;

				
			}
		}
		> li:hover {
				&:after {
					border:none;
					padding:0;
				}
			}
	}
	ul {
		
		li {
			width:100%;
			
			a {
				padding:15px 0;
				display: block;
				border-bottom: 1px solid #757679;
				width:100%;
			}
			ul.sub-menu {
				opacity: 0;
				visibility: hidden;
				overflow: hidden;
				max-height: 0;
				position: relative;
				left:0;
				top:0;
				padding:0;
				width:100%;
				transition: all 750ms ease-in-out;
				 li.current_page_item {
					 a {
						 color:$yellow;
						 &:hover {
							 color:$yellow;
						 }
					 }
				 }
				 li {
					margin-bottom: 0;
					width:100%;
					a {
						width:100%;
					}
					a:hover {
						color:#fff;
					}
				}
			}
		}
	}
	
}
	

	
	.sidebar {
		background: #4d4d4f;
		h1 {
			padding: 6px 10px 0px;
			font-size: 46px;
		}
	}
	

	
	
	
} /* Media Query */


