header {
	color:#fff;
// 	overflow: hidden;
	margin-bottom:30px;
}


.logo_wrapper {
	float:left;
	width:160px;
	margin-top: 30px;
	img {
		max-width: 100%;
		height:auto;
	}
}


.header_right {
	float:right;
	width:calc(100% - 160px);
	position: relative;
}


a.find_button {
	background:$yellow;
	font-family: $coresansbold;
	text-transform: lowercase;
	color:$lightgrey;
	text-decoration: none;
	font-size:15px;
	padding:6px 10px;
	position: absolute;
	top:0;
	right:0;
}



.nav_wrapper {
	width:100%;
	margin-top: 83px;
	padding-left:3%;
}

.tagline {
	font-family: $coresansextralight;
	text-transform: lowercase;
	border-bottom:1px solid $yellow;
	font-size: 41px;
	padding-bottom: 15px;
}

nav {
	margin-top:13px;
	ul#menu-top-nav {
		display: flex;
		justify-content: space-between;
		> li {
			padding-bottom:20px;
			
			&:after {
				content:"";
				transition: all .3s ease-in-out;
				padding-top:3px;
				opacity: 0;
				width:0;
			}
		}
		>li.current_page_ancestor {
			&:after {
					content:"";
					display: block;
					border-bottom: 1px solid $yellow;
					width:100%;
					opacity: 1;
					margin-left:auto;
					margin-right:auto;
				}
		}
		>li.current_page_item  {
			&:after {
					content:"";
					display: block;
					border-bottom: 1px solid $yellow;
					width:100%;
					opacity: 1;
					margin-left:auto;
					margin-right:auto;
				}
				
		}
		> li.menu-item-has-children:hover {
			ul.sub-menu {
				opacity: 1;
			}
		}
		> li:hover {
				&:after {
					content:"";
					display: block;
					border-bottom: 1px solid $yellow;
					width:100%;
					opacity: 1;
					margin-left:auto;
					margin-right:auto;
				}
			}
	}
	ul {
		list-style: none;
		margin:0;
		li {
			font-family: $coresanslight;
			text-transform: lowercase;
			font-size: 16px;
			letter-spacing: 0.7px;
			position: relative;
			a {
				color:#fff;
				text-decoration: none;
			}
			ul.sub-menu {
				background: $darkgrey;
				display: block;
				position: absolute;
				top:25px;
				left:-21px;
				width:205px;
				padding:15px 20px 10px;
				opacity: 0;
				transition: all .2s ease-in-out;
				 li.current_page_item {
					 a {
						 color:$yellow;
					 }
				 }
				 li {
					margin-bottom:14px;
					a {
						transition: all .2s ease-in-out;
					}
					a:hover {
						color:$yellow;
					}
				}
			}
		}
	}
	
}





