.mobile_slides {
	display: none;
}


.slideshow {
	img {
		max-width: 100%;
		height:auto;
		
	}
}


.slick-dots {
	bottom: 10px;
	li.slick-active {
		button {
			&:before {
				color:$yellow;
			}
		}
	}
	li:hover {
		button {
			&:before {
				color:#fff;
			}
		}
	}
	li {
		margin:0;
		button {
			&:before {
				opacity: 1;
				color: $darkgrey;
			}
		}
	}
}


.main_intro {
	color:#fff;
	padding:35px 0 10px;
	line-height: 20px;
	font-size: 16px;
	h1 {
		font-family: $coresansbold;
		color:$yellow;
		text-transform: lowercase;
		font-size:25px;
		font-style: normal;
		font-weight: 300;
		margin-bottom:5px;
	}
	p,ul {
		margin-bottom:20px;
		
	}
	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	ul {
		margin-left:24px
	}
	a {
		color:$yellow;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}	
}


@media screen and (max-width: 800px) {
	
	header {
		margin-bottom: 0;
	}
	
	.main_intro {
		padding:20px 15px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 600px) {
	

	
	.slideshow {
		display: none;
	}
	
	.mobile_slides {
		display: block;
		img {
			width:100%;
			display: block;
			margin-bottom:10px;
		}
	}
	
	
	
	
} /* Media Query */