.mobile_slides {
	display: none;
}


.slideshow {
	img {
		max-width: 100%;
		height:auto;
		
	}
}


.slick-dots {
	bottom: 10px;
	li.slick-active {
		button {
			&:before {
				color:$yellow;
			}
		}
	}
	li:hover {
		button {
			&:before {
				color:#fff;
			}
		}
	}
	li {
		margin:0;
		button {
			&:before {
				opacity: 1;
				color: $darkgrey;
			}
		}
	}
}




.main_intro {
	padding:35px 0 10px;
}


@media screen and (max-width: 800px) {
	
	header {
		margin-bottom: 0;
	}
	
	.main_intro.content {
		padding:30px 15px 0px;
		background: #363636;
		margin-top:14px;
		color:#999999;
		h1 {
			font-size: 16px;
		}
	}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 600px) {
	


	.main_intro.content {
		margin-top:14px;
		p {
			margin-bottom: 0;
			padding-bottom:14px;
		}
	}
	
	.slideshow {
		display: none;
	}
	
	.mobile_slides {
		display: block;
		img {
			width:100%;
			display: block;
			margin-bottom:14px;
		}
	}
	
	
	
	
} /* Media Query */