    
   body.page-template-page-maven {
	   .inner_main {
		   overflow: visible;
		   &:after {
			   content:"";
			   display: block;
			   clear:both;
		   }
	   }
	   .inner_container {
		    width: calc(100% - 230px);
				padding-left: 3%;
	   }
	   .sidebar {
	   	width:230px;
// 		 	margin-left:-70px;
   	}
   	
	} 
	
	
	h1.maven_mobile_title {
	  display: none;
   }
    
  span.maven_form_title {
	  font-family: $akzcondensed;
		color: $yellow;
		text-transform: uppercase;
		font-size: 24px;
		letter-spacing: 1.5px;
		display: block;
		margin: 0px auto 20px;
		max-width:170px;
	}
	span.back_to_page {
		display: none;
	}
    
   
   
   .sidebar_form_wrapper {
	   background:#666;
	   padding:25px 20px;
   }
    
    
   .sidebar_inner_form_wrapper {
	   ul {
		   list-style: none;
		   li#field_3_5 {
			   display: none;
		   }
		   li {
			   width:100%;
			   margin-bottom:10px;
			   text-align: left;
			   label {
				   color:#fff;
				   display: block;
				   margin-bottom: 4px;
				   font-size: 15px;
			   }
			   input, textarea {
				   width:100%;
				   border:none;
				   padding:3px 5px;
				   font-size:14px;
			   }
		   }
	   }
	   gfield_description, .validation_message {
		   color: $yellow;
		   font-size: 13px;
		   margin-top:3px;
	   }
	   input[type="submit"] {
		   background: $yellow;
		   border:none;
		   font-size:16px;
		   padding:5px 15px;
		   margin-top:0px;
		   cursor: pointer;
		   transition: all .2s ease-in-out;
		   text-transform: lowercase;
		   &:hover {
			   background: #000;
			   color:#fff;
		   }
	   }
   }
   
   
   
   
   span.how_to_be_title {
	   color:$yellow;
	   display: block;
	   margin:20px 0 0 5px;
	   text-transform: lowercase;
	   cursor: pointer;
	   &:hover {
		   text-decoration: underline;
	   }
	   &:before {
		   content:"+";
		   display: inline-block;
		   margin-right:0px;
		   width:20px;
	   }
   }
   
   span.how_to_be_title.open {
	   
	   &:before {
		   content:"-";
		  }
   }
   
   
   
   .maven_requirements {
	   display: none;
   }
   
   
   
   
   @media screen and (max-width: 800px) {
	   
	   
	   body.page-template-page-maven {
		   .copyright {
			   margin-bottom:30px;
		   }
	   }
	   
	   span.maven_form_title.clicked {
		   font-size: 35px;
		   padding: 10px 10px 0px;
		   font-family: $asnapperscript;
		   text-transform: lowercase;
		   top:115px;
		   background: #666;
		   color:$yellow;
	   }
	   
	   span.maven_form_title {
		   position: fixed;
		   bottom:0;
		   left:0;
		   background: $yellow;
		  
		   width:100%;
		   max-width: 100%;
		   z-index:5;
		   text-transform: lowercase;
			 font-family: $coresansbold;
			 color: #4d4d4f;
			 font-size: 18px;
			 font-style: normal;
			 font-weight: 300;
			 letter-spacing: 0;
			 padding:5px 0;
			 display: block;
			 cursor: pointer;
  	}
  	
  	span.back_to_page.fixed {
			display: block;
			position: fixed;
			top:180px;
			z-index:5;
			width:100%;
			color:#fff;
			
		}
  	
  	
	   h1.maven_mobile_title {
		 		display: block;
   		}
   		
   		body.page-template-page-maven.fixed {
	   		overflow-y: hidden;
   		}
   		
   		body.page-template-page-maven {
	   		
	   		header.fixed {
		   		position: fixed;
		   		top:0;
		   		left:0;
		   		width:100%;
		   		z-index: 100;
		   		.mobile_menu {
			   		display: none;
		   		}
	   		}
	   		
	 			.inner_container {
	 				width: 100%;
	 				padding-left: 0%;
	 				float:none;
				}
				#gform_wrapper_3.fixed {
					position: fixed;
					top:205px;
					z-index:10;
					overflow-y: scroll;
					padding-bottom: 300px;
					left:0;
					//display: block;
				}
				
				#gform_wrapper_3 {
					display: none;
					
					width:100%;
					height:100%; 
					background: $lightgrey;
					padding:10px 45px 45px;
					ul {
						max-width:500px;
						margin-left:auto;
						margin-right:auto;
						li {
							margin-bottom:20px;
							label {
								text-align: center;
							}
							input {
								padding:8px 5px;
								text-align: center;
							}
						}
						
					}
				}
				.sidebar {
					width:100%;
				}
				.sidebar_form_wrapper {
					padding:0;
					background:#4d4d4f;
				}
				span.maven_form_title {
					margin-bottom: 0;
				}
			}
			
			
			.sidebar_inner_form_wrapper input[type="submit"] {
				width:100vw;
				margin-left:-45px;
			}
			
			
			
			
			.sidebar_inner_form_wrapper gfield_description, .sidebar_inner_form_wrapper .validation_message {
				text-align: center;
			}
	   
	   
   } /* Media Query */
   
   
   
   