    
   body.page-template-page-maven {
	   .inner_main {
		   overflow: visible;
		   &:after {
			   content:"";
			   display: block;
			   clear:both;
		   }
	   }
	   .inner_container {
		    width: calc(100% - 230px);
				padding-left: 3%;
	   }
	   .sidebar {
	   	width:230px;
// 		 	margin-left:-70px;
   	}
   	
	} 
	
	
	h1.maven_mobile_title {
	  display: none;
   }
    
  span.maven_form_title {
	  font-family: $akzcondensed;
		color: $yellow;
		text-transform: uppercase;
		font-size: 24px;
		letter-spacing: 1.5px;
		display: block;
		margin: 0px auto 20px;
		max-width:170px;
		
   }
    
   
   
   .sidebar_form_wrapper {
	   background:$lightgrey;
	   padding:25px 20px;
   }
    
    
   .sidebar_inner_form_wrapper {
	   ul {
		   list-style: none;
		   li#field_3_5 {
			   display: none;
		   }
		   li {
			   width:100%;
			   margin-bottom:10px;
			   text-align: left;
			   label {
				   color:#fff;
				   display: block;
				   margin-bottom: 4px;
				   font-size: 15px;
			   }
			   input, textarea {
				   width:100%;
				   border:none;
				   padding:3px 5px;
				   font-size:14px;
			   }
		   }
	   }
	   gfield_description, .validation_message {
		   color: $yellow;
		   font-size: 13px;
		   margin-top:3px;
	   }
	   input[type="submit"] {
		   background: $yellow;
		   border:none;
		   font-size:16px;
		   padding:5px 15px;
		   margin-top:0px;
		   cursor: pointer;
		   transition: all .2s ease-in-out;
		   text-transform: lowercase;
		   &:hover {
			   background: #000;
			   color:#fff;
		   }
	   }
   }
   
   
   
   
   span.how_to_be_title {
	   color:$yellow;
	   display: block;
	   margin:20px 0 0 5px;
	   text-transform: lowercase;
	   cursor: pointer;
	   &:hover {
		   text-decoration: underline;
	   }
	   &:before {
		   content:"+";
		   display: inline-block;
		   margin-right:0px;
		   width:20px;
	   }
   }
   
   span.how_to_be_title.open {
	   
	   &:before {
		   content:"-";
		  }
   }
   
   
   
   .maven_requirements {
	   display: none;
   }
   
   
   
   
   @media screen and (max-width: 800px) {
	   
	   span.maven_form_title {
		   display: none;
	   }
	   
	   	h1.maven_mobile_title {
		 		display: block;
   		}
   		
   		body.page-template-page-maven {
	 			.inner_container {
	 				width: 100%;
	 				padding-left: 0%;
	 				float:none;
				}
				#gform_wrapper_3 {
					display: none;
					position: fixed;
					bottom:0;
					left:0;
					width:100%;
					height:100%;
					background: $lightgrey;
				}
				.sidebar {
					width:100%;
				}
				.sidebar_form_wrapper {
					padding:0;
				}
				span.maven_form_title {
					margin-bottom: 0;
				}
			}
			
			
			
	   
	   
   } /* Media Query */
   
   
   
   