h1.location_header {
	font-family: $asnapperscript;
  color: #FFE000;
  font-size: 80px;
  text-transform: capitalize;
  margin-top:45px;
  // text-transform: lowercase;
  font-style: normal;
  font-weight: 300;
  margin-left:30px;
  margin-top:65px;
}

.location_wrapper {
	position: relative;
	overflow: hidden;
	
}


// SVG Map


svg#usa_map {
	width:calc(100% - 340px);
	
	margin-top:60px;
	float:left;
}


.cls-1 {
	fill:#41423e;
	stroke:#62635f;
	stroke-linejoin:round;
	stroke-width:0.97px;
}


.cls-2 {
	font-size:19px;
	fill:#fffdfd;
	font-family:$akzcondensed;
	transition: all .2s ease-in-out;
}
.cls-2.state_abr_hover, .cls-2.state_abr_current {
	fill:$darkgrey;
}

.cls-3{
	letter-spacing:0.02em;
}

.cls-1.active_state {
	fill:#646461;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.cls-1.active_state:hover, .cls-1.active_state.current_state {
	fill:$yellow;
	
}

// coming soon/search


.coming_soon_search {
	width:260px;
	float:right;
	margin-top:20px;
}

h2.coming_soon_title {
	font-family: $asnapperscript;
  color: #FFE000;
  font-size: 43px;
  text-transform: capitalize;
  margin-top:45px;
  // text-transform: lowercase;
  font-style: normal;
  font-weight: 300;
}





.coming_soon_outer_wrapper {
	text-align: center;

}


.coming_soon_box {
	background:#4d4d4d;
	border:1px solid #636363;
	padding:20px;
	//text-align: center;
	margin-top:20px;
	span {
		display: block;
	}
}


// State Listings


.state_listings {
	padding-top:60px;
	clear:both;
}

.state_wrapper {
	h2.white {
		text-align: center;
		border-bottom: 2px solid $yellow;
		padding-bottom:25px;
		margin-bottom:35px;
	}
}


.state_col {
	width:50%;
	padding-left:10%;
	&:first-of-type {
		float:left;
	}
	&:last-of-type {
		float:right;
	}
}


.state_wrapper {
	margin-bottom:50px;
	overflow: hidden;
	
}


.single_city {
	margin-bottom:35px;
	h3.city_title {
		color:$yellow;
		font-style: normal;
		font-weight: 300;
		margin-bottom: 10px;
		font-size: 21px;
		a {
			text-decoration: none;
		}
	}
	.location_address {
		display: block;
		a.city_map {
			color:#fff;
			transition: all .2s ease-in-out;
			text-decoration: none;
			&:hover {
				color:$yellow;
			}
		}
		span {
			
		}
	}
	a.schedule_button {
		background: $yellow;
		display:block;
		width:125px;
		text-align: center;
		font-family: $coresansbold;
    text-transform: lowercase;
    color: $darkgrey;
    text-decoration: none;
    font-size: 15px;
    padding: 2px 0px;
    margin:15px 0 0;
   }
	}


// google map


#map {
	height: 500px;
  width: 100%;
  background: grey;
  position: absolute;
  top:130px;
  left:0;
}


@media screen and (max-width: 900px) {
	
	
.state_col {
	width:100%;
	padding-left:0%;
	text-align: center;
	&:first-of-type {
		float:none;
	}
	&:last-of-type {
		float:none;
	}
}

.single_city a.schedule_button {
	margin-left:auto;
	margin-right:auto;
}

	
	
} /* Media Query */


