h1.location_header {
	font-family: $asnapperscript;
  color: #FFE000;
  font-size: 80px;
  text-transform: capitalize;
  margin-top:45px;
  // text-transform: lowercase;
  font-style: normal;
  font-weight: 300;
  margin-left:30px;
  margin-top:65px;
}

.locations_wrapper {
	position: relative;
	overflow: hidden;
}


// SVG Map


svg#usa_map {
	width:calc(100% - 260px);
	margin-left:-80px;
	margin-top:60px;
	float:left;
}


path.cls-1.active_state {
	fill:#878787;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

path.cls-1.active_state:hover, path.cls-1.active_state.current_state {
	fill:$yellow;
}

// coming soon/search


.coming_soon_search {
	width:260px;
	float:right;
}

h2.coming_soon_title {
	font-family: $asnapperscript;
  color: #FFE000;
  font-size: 43px;
  text-transform: capitalize;
  margin-top:45px;
  // text-transform: lowercase;
  font-style: normal;
  font-weight: 300;
}





.coming_soon_outer_wrapper {
	text-align: center;
}


.coming_soon_box {
	background:#4d4d4d;
	border:1px solid #636363;
	padding:20px;
	//text-align: center;
	margin-top:20px;
	span {
		display: block;
	}
}


// State Listings


.state_listings {
	padding-top:60px;
	clear:both;
}

.state_wrapper {
	h2.white {
		text-align: center;
		border-bottom: 2px solid $yellow;
		padding-bottom:25px;
	}
}


.state_col {
	width:50%;
	&:first-of-type {
		float:left;
	}
	&:last-of-type {
		float:right;
	}
}


.state_wrapper {
	margin-bottom:50px;
	overflow: hidden;
}


.single_city {
	margin-bottom:35px;
	h3.city_title {
		color:$yellow;
		font-style: normal;
		font-weight: 300;
		margin-bottom: 10px;
		font-size: 21px;
	}
	.location_address {
		display: block;
		span {
			
		}
	}
	a.schedule_button {
		background: $yellow;
		display:block;
		width:125px;
		text-align: center;
		font-family: $coresansbold;
    text-transform: lowercase;
    color: $darkgrey;
    text-decoration: none;
    font-size: 15px;
    padding: 2px 0px;
    margin:15px 0 0;
   }
	}


// google map


#map {
	height: 400px;
  width: 100%;
  background: grey;
  display: none;
}



