
#map {
	height: 400px;
  width: 100%;
  background: grey;
  display: none;
}


.locations_wrapper {
	position: relative;
}


// SVG Map


path.cls-1.active_state {
	fill:#878787;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

path.cls-1.active_state:hover, path.cls-1.active_state.current_state {
	fill:$yellow;
}


// State Listings


.state_listings {
	margin-top:100px;
}

.state_wrapper {
	h2.white {
		text-align: center;
		border-bottom: 2px solid $yellow;
		padding-bottom:25px;
	}
}


.state_col {
	width:50%;
	&:first-of-type {
		float:left;
	}
	&:last-of-type {
		float:right;
	}
}





.single_city {
	margin-bottom:35px;
	h3.city_title {
		color:$yellow;
		font-style: normal;
		font-weight: 300;
		margin-bottom: 10px;
		font-size: 21px;
	}
	.location_address {
		display: block;
		span {
			
		}
	}
	a.schedule_button {
		background: $yellow;
		display:block;
		width:125px;
		text-align: center;
		font-family: $coresansbold;
    text-transform: lowercase;
    color: $darkgrey;
    text-decoration: none;
    font-size: 15px;
    padding: 2px 0px;
    margin:15px 0 0;
   }
	}




