.case_results_wrapper {
	margin-top:5px;
}

.single_case_results {
	overflow: hidden;
	
	margin-bottom:50px; 
	&:last-of-type {
		margin-bottom:0;
		.case_results_content {
			border-bottom:none;
		}
	}
	.case_image_wrapper {
		border: 2px solid $yellow;
		width:235px;
		float:left;
		margin-bottom:45px;
		img {
			max-width: 100%;
			height:auto;
			display: block;
		}
	}
	.case_results_content {
		width:calc(100% - 285px);
		float:right;
		margin-left:45px;
		border-bottom: 1px solid #fff;
		padding-bottom:30px; 
		
		
	}
	span.case_results_read_more.open {
		&:after {
			content:" Less -";
		}
	}
	span.case_results_read_more {
		display: inline-block;
		color:$yellow;
		margin: 13px 0;
		cursor: pointer;
		&:after {
			content:" More +";
			
		}
	}
	.read_more_case {
		display: none;
	}
}


.case_results_title {
	font-family: $coresansbold;
  color: #FFE000;
  text-transform: lowercase;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 15px;
  display: block;
}

    


@media screen and (max-width: 800px) {
	
	
.case_results_wrapper {
	margin-top:0;
}




.single_case_results {
	.case_results_content {
		padding-bottom: 33px;
	}

	&:last-of-type {
		
		.case_results_content {
			padding-bottom: 0;
		}
	}

	.case_image_wrapper {
		margin-left:auto;
		margin-right:auto;
		float:none;
		img {
			display: block;
		}
	}
	.case_results_content {
		float: none;
		width:100%;
		margin-left: 0;
		
	}
	span.case_results_read_more {
		
	}
}
	
	
	
} /* Media Query */